.post {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  margin-top: 1.5rem;
}
.post:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  background: var(--primaryColor);
  transition: var(--mainTransition);
  max-height: 306px;
  overflow: hidden;
}
.img {
  transition: var(--mainTransition);
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.link:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem;
  min-height: 5rem;
}
.footer h4,
h6 {
  margin-bottom: 0;
}

.footer h4 {
  letter-spacing: 1.3px;
  overflow: hidden;
}

.footer h6 {
  letter-spacing: 1.3px;
  color: var(--darkGrey);
  text-transform: uppercase;
  min-height: 2.3rem;
  overflow: hidden;
}

.label {
  position: absolute;
  top: 70px;
  left: -5px;
  z-index: 200;
}

.label-text {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  padding: 1px 10px 4px 10px;
}

@media (min-width: 576px) {
  .img-container {
    height: 286.875px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .img-container {
    height: 185.625px;
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  .img-container {
    height: 253.125px;
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  .img-container {
    height: 303.75px;
    overflow: hidden;
  }
}
