.services {
  background: var(--mainGrey);
  padding: 4rem 0;
}

.service {
  margin: 2rem 0;
  text-align: center;
}
.service span {
  background: var(--primaryColor);
  padding: 0.4rem 0.5rem 0.5rem 0.5rem;
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--mainGrey);
}

.service h4 {
  text-transform: uppercase;
}
