.template {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.img-container {
  max-height: 390px;
  overflow: hidden;
  box-shadow: var(--lightShadow);
}

.image {
  box-shadow: var(--lightShadow);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 0;
}
.title-wrapper h3 {
  color: var(--mainBlack);
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.title-wrapper h6 {
  color: var(--darkGrey);
}
.title-wrapper h5 {
  color: var(--primaryColor);
  margin-bottom: 0.3rem;
}

.richText {
  margin-bottom: 2rem;
}

.richText h4 {
  margin-bottom: 1rem;
}

.richText h5 {
  margin-bottom: 0.5rem;
}

.richText p {
  margin-bottom: 1rem;
}

.richText a {
  color: var(--primaryColor);
}

.richText blockquote {
  margin-left: 2rem;
  font-style: italic;
  color: var(--primaryColor);
}

.richText ol,
.richText ul {
  margin-left: 2rem;
}

.embeddedVideo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.embeddedVideo > iframe {
  height: 304px;
  width: 100%;
}

.otherPostsTitle h3 {
  margin-bottom: 0;
}

.other-posts {
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .embeddedVideo > iframe {
    height: 287px;
  }
}

@media (min-width: 768px) {
  .embeddedVideo > iframe {
    height: 389px;
  }
}

@media (min-width: 992px) {
  .top-row {
    margin-bottom: 2rem;
  }

  .embeddedVideo > iframe {
    height: 524px;
  }

  .img-wrapper {
    position: relative;
  }

  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}

@media (min-width: 1200px) {
  .embeddedVideo > iframe {
    height: 625px;
  }
}
