.template {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.img-container {
  max-height: 390px;
  overflow: hidden;
  box-shadow: var(--lightShadow);
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem 0;
}
.title-wrapper h3 {
  text-transform: capitalize;
  color: var(--mainBlack);
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.city {
  text-transform: capitalize;
  color: var(--primaryColor);
  margin-bottom: 0.3rem;
}
.title-wrapper h6 {
  text-transform: uppercase;
  color: var(--darkGrey);
}

.image {
  box-shadow: var(--lightShadow);
}

.icon {
  color: var(--primaryColor);
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.template h4 {
  text-transform: capitalize;
}

.richText h4 {
  margin-bottom: 1rem;
}

.richText h5 {
  margin-bottom: 0.5rem;
}

.richText p {
  margin-bottom: 1rem;
}

.richText a {
  color: var(--primaryColor);
}

.richText blockquote {
  margin-left: 2rem;
  font-style: italic;
  color: var(--primaryColor);
}

.richText ol,
.richText ul {
  margin-left: 2rem;
}

.gallery {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.gallery-image {
  margin-bottom: 1rem;
}

.block {
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .top-row {
    margin-bottom: 2rem;
  }

  .img-wrapper {
    position: relative;
  }

  .img-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid var(--primaryColor);
    box-sizing: border-box;
    top: -16px;
    left: -16px;
    z-index: -1;
  }
}
